<div id="userdashboard">
    <div class="container-fluid">
        <div id="communicationRow" class="row equal dashboard-row">
            <div class="col-sm-2 dashboard-col-header">Communication&nbsp;»</div>
            <div class="col-sm-10 dashboard-col">
                <div class="well" style="margin-bottom: 0;">
                    <div id="welcomeMessage"></div>
                </div>
            </div>
        </div>
        <div class="row equal dashboard-row">
            <div class="col-sm-2 dashboard-col-header">Shortcuts&nbsp;»</div>
            <div class="col-sm-5 dashboard-col dashboard-border-right">
                <div class="form-group">
                    <label for="goToProjectUser">Go to project&nbsp;»</label>
                    <div id="dashboard-project-typeahead">
                        <input type="text" id="goToProjectUser" class="form-control typeahead" />
                    </div>
                </div>
            </div>
            <div class="col-sm-5 dashboard-col">
                <div class="form-group">
                    <label for="goToImageUser">Go to image&nbsp;»</label>
                    <div id="dashboard-image-typeahead">
                        <input type="text" id="goToImageUser" class="form-control typeahead" />
                    </div>
                </div>
            </div>
        </div>
        <div id="userStatsDashboard" class="row equal dashboard-row">
            <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
        </div>
        <div id="lastOpenImage" class="row equal dashboard-row">
            <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
        </div>
        <div id="userDashboardLastProject" class="row equal dashboard-row">
            <div class="alert alert-info"><i class="icon-refresh"/> Loading...</div>
        </div>
    </div>
</div>