<div class="col-sm-2 dashboard-col-header">Statistics&nbsp;»</div>
<div class="col-sm-5 dashboard-col dashboard-border-right">
    <div class="data text-center">
        <span class="number"><%= projectCount %></span>
        projects<br>
        <span class="date">Now</span>
    </div>

</div>
<div class="col-sm-5 dashboard-col">
    <div class="data text-center">
        <span class="number"><%= imagesCount %></span>
        images<br>
        <span class="date">Now</span>
    </div>

</div>



