<div id="login-confirm">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <div class=col-md-8>
                        <h1>BIAFLOWS</h1>
                        <p>A collaborative framework to benchmark and deploy bioimage analysis workflows.</p>
                        <!--<p><a class="btn btn-default btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
                    </div>
                    <div class="col-md-4">
                        <form id="login-form">
                            <h2 class="form-signin-heading">Sign in</h2>
                            <label for="j_username" class="sr-only">Email address</label>
                            <input type="text" id="j_username" name="j_username" class="form-control" value="guest" placeholder="Username" required autofocus>
                            <label for="j_password" class="sr-only">Password</label>
                            <input type="password" id="j_password" name="j_password" class="form-control" value="guest" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input id="remember_me" name="remember_me" type="checkbox" checked> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit-login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Sign in</button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <a href="http://eubias.org/NEUBIAS/" target="_blank"><img src="static/images/neubias_logo_sm.png" style="height: 48px; margin-left: 2px; margin-right: 2px;"></a>
                <a href="https://www.cost.eu/COST_Actions/ca/CA15124?" target="_blank"><img src="static/images/costeu_logo_sm.png" style="height: 22px; margin-left: 2px; margin-right: 2px;"></a>
                <a href="https://cytomine.org" target="_blank"><img src="static/images/cyto_org_logo.png" style="height: 22px; margin-left: 2px; margin-right: 2px;"></a>
            </p>
        </div>
    </footer>
</div>