<div id="login-confirm" style="margin-top: -50px;">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron biaflows-microscopy">
                <div class="container">
                    <div class=col-md-8>
                        <h1><span style="color: #fe7f7f;">BIA</span>FLOWS</h1>
                        <p>A collaborative framework to benchmark <span style="color: #fe7f7f;">b</span>io <span style="color: #fe7f7f;">i</span>mage <span style="color: #fe7f7f;">a</span>nalysis workflows on microscopy image datasets.</p>
                        <!--<p><a class="btn btn-default btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
                    </div>
                    <div class="col-md-4">
                        <form id="login-form">
                            <h2 class="form-signin-heading">Sign in</h2>
                            <label for="j_username" class="sr-only">Email address</label>
                            <input type="text" id="j_username" name="j_username" class="form-control" value="guest" placeholder="Username" required autofocus>
                            <label for="j_password" class="sr-only">Password</label>
                            <input type="password" id="j_password" name="j_password" class="form-control" value="guest" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input id="remember_me" name="remember_me" type="checkbox" checked> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit-login"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp; Sign in</button>
                        </form>
                    </div>

                </div>
                <div class="container marketing">

                    <!-- Three columns of text below the carousel -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/433762f568f949f794248327f770220f" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                            <h2>Navigating <span style="color: #fe7f7f;">BIA</span>FLOWS</h2>

                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/84b22ce550464b1b9a805200561059b6" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                            <h2>Viewing multidimensional images</h2>

                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/20206099418f444eb2cb0534e9a84a0a" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
                            <h2>Visually comparing results from multiple workflows</h2>

                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                </div>
            </div>

        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                <a href="http://eubias.org/NEUBIAS/" target="_blank"><img src="static/images/neubias_logo_sm.png" style="height: 48px; margin-left: 2px; margin-right: 2px;"></a>
                <a href="https://www.cost.eu/COST_Actions/ca/CA15124?" target="_blank"><img src="static/images/costeu_logo_sm.png" style="height: 22px; margin-left: 2px; margin-right: 2px;"></a>
                <a href="https://cytomine.org" target="_blank"><img src="static/images/cyto_org_logo.png" style="height: 22px; margin-left: 2px; margin-right: 2px;"></a>
            </p>
        </div>
    </footer>
</div>