<div id="aboutCyt" class="container">
    <!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">-->
    <!--<h3 class="panel-title"><i class="glyphicon glyphicon-info-sign"/> About Cytomine</h3>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
    <dl class="dl-horizontal">
        <dt style="padding-top: 7px">Version</dt>
        <dd style="padding-top: 7px"><%= version %></dd>

        <dt style="padding-top: 7px">Thanks to</dt>
        <dd style = "padding-top: 7px">
            <a href="http://neubias.org" target="_blank"><img src="images/neubias_logo.png" style="width:200px;margin-left: 15px;margin-right: 15px;"></a>
            <a href="https://cost.eu/COST_Actions/ca/CA15124" target="_blank"><img src="images/costeu_logo.png" style="width:200px;margin-left: 15px;margin-right: 15px;"></a>
            <a href="https://cytomine.org" target="_blank"><img src="images/cyto_org_logo.png" style="width: 200px; margin-left: 15px;margin-right: 15px;"></a>
        </dd>

        <dt style="padding-top: 7px">Description</dt>
        <dd style = "padding-top: 7px">
            BIAFLOWS is a collaborative framework to benchmark and deploy bioimage analysis workflows.
        </dd>

        <dt style="padding-top: 7px">Documentation</dt>
        <dd style = "padding-top: 7px">
            BIAFLOWS usage is described in <a href="doc">a complete user guide</a>.<br>
            <!--Interested developers can find information in <a href="https://doc.cytomine.be/" target="_blank">Cytomine documentation.</a>-->
        </dd>

        <dt style="padding-top: 7px">Source code</dt>
        <dd style = "padding-top: 7px">
            BIAFLOWS is an open-source software built on top of Cytomine. The licenses are Apache2 and LGPL 2.1.<br>
            The source code is available on GitHub repositories <a href="https://github.com/Neubias-WG5/" target="_blank">here</a> and <a href="https://github.com/Cytomine-Uliege/" target="_blank">here</a>.
        </dd>



        <dt style="padding-top: 7px">Rest API</dt>
        <dd style = "padding-top: 7px">
            Developers will find a complete documentation of the REST structure of BIAFLOWS/Cytomine <a href="<%= url %>/restApiDoc/?doc_url=<%= url %>/restApiDoc/api#" target="_blank">here.</a>
        </dd>

        <dt style="padding-top: 7px">Contact</dt>
        <dd style = "padding-top: 7px">
            If you are interested in showcasing your own workflow or contributing to BIAFLOWS, please contact <a href="mailto:<%= mail %>"><%= mail %></a>
        </dd>

    </dl>
    <!--</div>-->
    <!--</div>-->
</div>