<div class="container-100" style="padding-top: 10px;">
    <div class="row">
        <div class="col-md-12">
            <div id="project-list-filters"></div>
        </div>
    </div>
    <div id="project-list-buttons" class="text-center" style="margin-bottom: 20px;">
        <div id="newProjectListing">
            <button id='projectaddbutton' class="btn btn-info addProject">
                <i class="glyphicon glyphicon-plus"></i>
                New project
            </button>
        </div>
    </div>
    <div id="projectlist" style="display: flex; flex-wrap: wrap; justify-content: space-between"></div>




</div>
<div id="dialogsDeleteProject"></div>

