<div id='projectlist<%= id %>' data-id='<%= id %>' class="panel panel-default projectInfoPanel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="#tabs-dashboard-<%= id %>"><%= title %></a>
        </h3>
    </div>
    <div class="panel-body" style="min-height : 200px;">
        <ul style="margin-left : 0px;padding-left: 0px;">
            <li>Name : <a href="#tabs-dashboard-<%= id %>"><%= name %></a></li>
            <li>Discipline : <%= disciplineName %></li>
        </ul>
        <div class="project-description">
            <%= description %>
        </div>

    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <button class="deleteProject btn btn-danger" id="deleteProjectButton<%= id %>" style="display : inline-block;">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <a href="#tabs-dashboard-<%= id %>" class="btn btn-primary" id='radioprojectchange<%= id %>'>
            <i class="fas fa-eye"></i> Open
        </a>
        <!--<button class="infoProject btn btn-default btn-xs" id="infoProjectButton<%= id %>" style="display : inline-block;">-->
            <!--<i class="fas fa-info-circle"></i>-->
            <!--Info-->
        <!--</button>-->
    </div>
</div>