<div class="row">
    <h4 class="header_h"><i class="glyphicon glyphicon-list-alt" style="margin-top: 5px;"></i> <%= name %></h4>
    <div class="col-md-6">
        <dl class="dl-horizontal" >
            <dt>Ontology</dt>
            <dd><a href="#ontology/<%= ontology %>"><%= ontologyName %></a></dd>

            <dt>Discipline</dt>
            <dd><%= disciplineName %></dd>

            <dt class="custom-ui-project-annotations-tab">Contacts</dt>
            <dd class="custom-ui-project-annotations-tab" id="projectContacts"></dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal" >
            <dt class="custom-ui-project-images-tab">Images</dt>
            <dd class="custom-ui-project-images-tab"><a href="#tabs-images-<%= id %>"><%= numberOfImages %></a></dd>

            <dt class="custom-ui-project-annotations-tab">User annotations</dt>
            <dd class="custom-ui-project-annotations-tab"><a href="#tabs-annotations-<%= id %>"><%= numberOfAnnotations %></a></dd>

            <dt class="custom-ui-project-annotations-tab">Job annotations</dt>
            <dd class="custom-ui-project-annotations-tab"><a href="#tabs-annotations-<%= id %>"><%= numberOfJobAnnotations %></a></dd>
        </dl>
    </div>
</div>
<div class="row">
    <p class="description well" style="word-wrap: break-word;">
    </p>
</div>


